---
layout: page
title: Blocks
permalink: /blocks/
summary: A bunch of blocks
categories: general
---




<div class="container">
<div class="row">
<div class="three columns">
<ul>
{% for block in site.categories.blocks %}
	<li><a href="#{{block.slug}}">{{block.title}}</a></li>
{% endfor %}
</ul>
</div>
<div class="nine columns">
	{% for block in site.categories.blocks %}

		<div class="row">
			<div class="four columns">
				<img src="{{ site.baseurl }}/assets/design/blocks/{{block.image}}" />
			</div>
			<div class="eight columns">		
				<a name="{{block.slug}}"></a>	
				<h4 class="block-title" >{{ block.title }}</h4>
				{{block.content}}
				Appears on: {{block.locations}}	
			</div>
		</div>

		<hr />
	{% endfor %}
</div>
</div>



