---
layout: default
---

<div class="home container">
	<p class="post-summary">This site seeks to document the entirety of the new BAM/PFA website, including information for developers, content editors, and anyone else interested.</p>
	<p>Please note that this documentation is very much a work in progress at this time, and information is expected to be added and changed frequently.</p>
	<hr />
	<div class="row">
		<div class="six columns">
			<h3> Content Type Overview </h3>
			<p>Overview of each major content type, with links to relevant documentation</p>
			<ul>
				{% assign sorted_posts = (site.categories['content-types'] | sort: 'title') %}
				{% for post in sorted_posts | sort: 'title' %}
					<li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
				{% endfor %}
				<li>Exhibition/Film Series</li>
				<li>Event Series</li>
				<li>Documentation</li>
				<li>Person</li>
			</ul>			
			<h3>Content Type Fields</h3>
			<p>List of all of the fields for each content type</p>
			<ul>
				{% for page in site.pages %}
					{% if page.categories contains 'fields' %}
						<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
				<li>Event Series</li>
				<li>Documentation</li>
				<li>Person</li>
			</ul>
		</div>
		<div class="six columns">
			<h3>General Info</h3>
			<ul>
				{% for page in site.pages %}
					{% if page.categories contains 'general' %}
						<li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
					{% endif %}
				{% endfor %}
			</ul>		
			<h3>Site logic and functionality</h3>
			<p>Documentation for assorted site logic and functionality</p>
			<ul>
				{% assign sorted_posts = (site.categories['documentation'] | sort: 'title') %}
				{% for post in sorted_posts | sort: 'title' %}
					<li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a><br />{{ post.summary }}</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
