---
layout: default
---

<div class="home container">
	<p class="post-summary">This site seeks to document the entirety of the new BAM/PFA website, including information for developers, content editors, and anyone else interested.</p>
	<p>Please note that this documentation is very much a work in progress at this time, and information is expected to be added and changed frequently.</p>
	<hr />
	<div class="row">
		<div class="six columns">
			<h3>Content Type Fields</h3>
			{% for page in site.pages %}
				{% if page.title %}
					<h4><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></h4>
					<p>{{ page.summary }}</p>
				{% endif %}
			{% endfor %}
		</div>
		<div class="six columns">
			<h3>Site logic and functionality</h3>
			{% assign sorted_posts = (site.categories['documentation'] | sort: 'title') %}
			{% for post in sorted_posts | sort: 'title' %}
				<h4><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
				<p>{{ post.summary }}</p>
			{% endfor %}
		</div>
	</div>
</div>
