---
layout: default
---
<div class="post container">
	<div class="row">
		<div class="three columns post-sidebar">
			<h5>Content Types</h5>
			<ul>
				{% assign sorted_posts = (site.categories['content-types'] | sort: 'title') %}
				{% for post in sorted_posts | sort: 'title' %}
					<li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
				{% endfor %}
			</ul>
			<h5>Documentation & Logic</h5>
			<ul>
				{% assign sorted_posts = (site.categories['documentation'] | sort: 'title') %}
				{% for post in sorted_posts | sort: 'title' %}
					<li><a class="page-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
				{% endfor %}			
			</ul>
		</div>
		<div class="nine columns">
			<header class="post-header">
				<h1 class="post-title">{{ page.title }}</h1>
			</header>
			<article class="post-content">
				<p class="post-summary">{{ page.summary }}</p>
				<hr />
				{{ content }}
			</article>
		</div>
	</div>
</div>
